<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clayton State University</title>
    <link href="https://www.clayton.edu/portals/1/app/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://www.clayton.edu/portals/1/app/css/skin.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <lasso-head/>
</head>
<body>
<header>
    <!--Header-->
    <a href="#content" id="skipToContent" tabindex="0">Skip to Content</a>
    <a href="#footer" id="skipToFooter">Skip to Footer</a>
    <div class="navbar navbar-default" role="navigation">
        <div class="contentWidth">
            <div id="navbar-top-wrapper">
                <div id="mobileLogo">
                    <a title="Clayton State" href="https://www.clayton.edu">
                        <img src="http://www.clayton.edu/portals/1/app/images/clayton_logo.jpg" alt="Clayton State Mobile Logo">
                    </a>
                </div><!-- / #mobileLogo -->
            </div><!-- / .navbar-top-wrapper -->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- / .navbar-header -->
        </div><!-- / .contentWidth -->
        <div id="navbar" class="collapse navbar-collapse pull-right">
            <div class="contentWidth">
                <div class="mainHead">
                    <div id="logo">
                        <a title="Clayton State" href="/">
                            <img src="https://www.clayton.edu/portals/1/app/images/clayton_logo.jpg" alt="Clayton State Logo">
                        </a>
                    </div><!-- / #logo -->
                    <div class="searchArea">
                        <div id="dnnMenu">
                            <ul class="nav navbar-nav topLevel sm">
                                <li><a href="https://www.clayton.edu/students"><span>Students</span></a></li>
                                <li><a href="https://www.clayton.edu/faculty-staff"><span>Faculty &amp; Staff</span></a></li>
                                <li><a href="https://apps.clayton.edu/directory"><span>Directory</span></a></li>
                            </ul>
                            <div class="search-mobile">
                                <div class="gcse-searchbox-only"></div>
                            </div>
                        </div>
                    </div><!-- / .searchArea -->
                </div><!-- / .mainHead -->
            </div><!-- / .contentWidth -->
        </div><!-- / .mainMenu -->
    </div><!-- / #navbar -->
</header>
<!--End Header-->

<!--Main Content Area-->
<div id="content" class="contentWidth">
    <div class="col-sm-12">
        <include (input.main)/>
    </div>
</div>
<!--End Main Content Area-->

<!--Footer-->
<footer class="mainFooter" id="footer">
    <div class="contentWidth">
        <div class="col-sm-4">
            <div class="logo">
                <a title="Clayton State" href="https://www.clayton.edu">
                    <img src="https://www.clayton.edu/portals/1/app/images/clayton_logo_footer.png" alt="Clayton State Logo">
                </a>
            </div>
        </div>
        <div class="col-sm-8 top-padding">
            <p><span>Clayton State University</span></p>
            <p><span>2000 Clayton State Boulevard | Morrow, GA 30260 | (678) 466-4000 | <a href="https://www.clayton.edu/about/campus-and-instructional-sites">Maps and Directions</a></span></p>
            <div class="appsNav">
                <ul>
                    <li><a href="https://www.clayton.edu/equal-opportunity">Equal Opportunity</a></li>
                    <li><a href="https://gbi.georgia.gov/documents/human-trafficking-notice" target="_blank">Human Trafficking Notice</a></li>
                    <li><a href="https://www.clayton.edu/privacy">Privacy</a></li>
                    <li><a href="https://www.clayton.edu/accessibility">Accessibility</a></li>
                    <li><a href="https://www.clayton.edu/sacs">Accreditation</a></li>
                    <li><a href="https://www.clayton.edu/ethics-and-integrity">Ethics and Integrity</a></li>
                    <li class="last"><a href="https://claytonstate.qualtrics.com/jfe/form/SV_eVFAbZTnKAmt6yF">Report a Website Issue</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://www.clayton.edu/portals/1/app/js/bootstrap.min.js"></script>
<script src="https://www.clayton.edu/portals/1/app/js/customSearch.js"></script>
<lasso-body/>
</body>
</html>
